AuthName "Restricted Admin Area"
AuthType Basic
AuthUserFile /var/www/vhosts/gochikai.com/httpdocs/wp/wp-admin/.htpasswd
Require valid-user

<Files admin-ajax.php>
Satisfy any
order allow,deny
allow from all
</Files>



